[Unit]
Description=Prometheus Envoy Collector
After=network.target
StartLimitIntervalSec=0

[Service]
LoadCredential=token:/etc/prometheus-envoy/token
ExecStart=/usr/local/bin/prometheus-envoy -port 2112 -listen=0.0.0.0 -token=${CREDENTIALS_DIRECTORY}/token
Type=simple
Restart=always
RestartSec=1
User=root

[Install]
WantedBy=multi-user.target
